<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zasia.photoview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".GallerySinglePicActivity"
            android:process=":photoview"
            android:theme="@style/GalleryTheme" />
        <activity
            android:name=".GalleryMorePicActivity"
            android:process=":photoview"
            android:theme="@style/GalleryTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 优化后的房间activity -->
    </application>
</manifest>